
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title - SimpleBlog</title>
</head>
<body>
<div>
    <h1>Simple Blog</h1>
    
    @RenderBody()
    
    
    @RenderSection("Scripts", false);
</div>
</body>
</html>
